<form [formGroup]="personSearchForm">
  <div class="row">
    <div class="col-6">
      <h4 class="card-title">{{'AdvanceSearch.Classification' | translate}}</h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Sector' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Sector' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.Sector' | translate}}" matInput formControlName="sector"
          [matAutocomplete]="sectorsAuto">
        <mat-autocomplete autoActiveFirstOption #sectorsAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredSectorsOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.SubSector' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.SubSector' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.SubSector' | translate}}" matInput formControlName="subSector"
          [matAutocomplete]="subSectorsAuto">
        <mat-autocomplete autoActiveFirstOption #subSectorsAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredSubSectorsOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Group' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Group' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.Group' | translate}}" matInput formControlName="group"
          [matAutocomplete]="groupsAuto">
        <mat-autocomplete autoActiveFirstOption #groupsAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredGroupsOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Filter' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Filter' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.Filter' | translate}}" matInput formControlName="filter"
          [matAutocomplete]="filtersAuto">
        <mat-autocomplete autoActiveFirstOption #filtersAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredFiltersOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="card-title">{{'AdvanceSearch.General' | translate}}</h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Gender' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Gender' | translate}}</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="1">Male</mat-option>
          <mat-option [value]="2">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.TitleField' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.TitleField' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.TitleField' | translate}}" matInput formControlName="jobTitle"
          [matAutocomplete]="jobTitleAuto">
        <mat-autocomplete autoActiveFirstOption #jobTitleAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredJobTitlesOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.NoOfEmployye' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.NoOfEmployye' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.NoOfEmployye' | translate}}" matInput
          formControlName="noOfEmployees" [matAutocomplete]="noOfEmployeesAuto">
        <mat-autocomplete autoActiveFirstOption #noOfEmployeesAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredNoOfEmployeesOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="card-title">{{'AdvanceSearch.AddressInformation' | translate}}</h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Country' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Country' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.Country' | translate}}" matInput formControlName="country"
          [matAutocomplete]="countryAuto">
        <mat-autocomplete autoActiveFirstOption #countryAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredCountriesOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.City' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.City' | translate}}</mat-label>
        <input type="text" placeholder="{{'AdvanceSearch.City' | translate}}" matInput formControlName="city"
          [matAutocomplete]="cityAuto">
        <mat-autocomplete autoActiveFirstOption #cityAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredCitiesOptions | async" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.District' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.District' | translate}}</mat-label>
        <input type="text" matInput formControlName="district" />
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.SubDistrict' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.SubDistrict' | translate}}</mat-label>
        <input type="text" matInput formControlName="subDistrict" />
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <label class="row">{{'AdvanceSearch.Street' | translate}} </label>
      <mat-form-field class="example-full-width search-field  w-100 row" [floatLabel]="'never'">
        <mat-label>{{'AdvanceSearch.Street' | translate}}</mat-label>
        <input type="text" matInput formControlName="street" />
      </mat-form-field>
    </div>
  </div>
  <div class="row w-100">
    <button mat-flat-button color="primary"  (click)="onSearchPerson()" class="submit-button">
      {{ 'Main.submit' | translate}}
    </button>
  </div>
</form>
